* { box-sizing:
    border-box;
    margin: 0; 
    padding: 0; 
}
body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background: #f4f4f4; 
}
.slider-container { 
    position: relative; 
    width: 500px; overflow: hidden; 
}
.slides { 
    display: flex; 
    transition: transform 0.3s ease-in-out;
}

.slide { 
    min-width: 100%; 
}
img { 
    width: 100%; 
    display: block; 
}
.buttons { 
    position: absolute; 
    top: 50%; 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    transform: translateY(-50%); 
}
.btn { 
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    cursor: pointer; 
}
.btn.hidden { 
    display: none; 
}
.dots { 
    text-align: center; 
    margin-top: 10px; 
}
.dot {
     display: inline-block; 
     width: 10px; 
     height: 10px;
     margin: 0 5px;
     background: gray; 
     border-radius: 50%; 
     cursor: pointer; 
    }
.dot.active { 
    background: black; 
}
img {
    width: 100%;
    height: 300px; /* Фиксированная высота */
    object-fit: cover; /* Обрезает фото, чтобы заполнить контейнер */
}
